<%= image_tag "chase.png", class: "splash-logo" %>

<div id="button-container">
  <% if @all_lockers_full %>
    <!--  hide button -->
  <% else %>
    <%= link_to "DROP OFF", new_rental_path, class: "btn right large" %>
  <% end %>

  <%= link_to "PICK UP", retrieve_rentals_path, class: "btn left large" %>

</div>
