<%= image_tag "power_up.png", class: "logo" %>

<div id="compliments">
  <p>COMPLIMENTS OF</p>
  <%= image_tag "chase.png", class: "chase-logo" %>
</div>
<div id="button-container">
  <% if @all_lockers_full %>
    <!--  hide button -->
  <% else %>
    <%= link_to "DROP OFF", new_rental_path, class: "btn right large" %>
  <% end %>

  <%= link_to "PICK UP", retrieve_rentals_path, class: "btn left large" %>

</div>
