p,h1,h2,h3,span, a, div {font-family: 'Roboto', sans-serif;}

body {
  margin: 0;
}


#container{
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

#button-container {
  position: absolute; bottom: 0; height: 18.1818181818vw; width: 100%;
  .btn {
    position: absolute; height: 9.0909090909vw; width: 9.0909090909vw;
    background-color: #707B7B; color: white; text-decoration: none;

    &.left     { left: 9.0909090909vw;}
    &.right    { left: 63.6363636364vw;}
    &.center   { left: 54.5454545455vw;}

    &.small    { width: 9.0909090909vw;}
    &.large    { width: 27.2727272727vw;}

    &.green    { background-color: green;}
  }
}

.logo {
  width: 45%; margin: 2.5% auto 0 auto; display: block;
}

.button{
  font-size: 24px; display: block; width: 80%; border: 1px solid black; margin: 20px auto;
  text-align: center; padding: 10px 0; background-color: white; text-decoration: none; color: black;
  &.submit {color: white; background-color: black;}
}

.thanks-message { text-align: center; width: 80%; margin: 20px auto;}

.form-errors { text-align: center; width: 80%; margin: 20px auto; color: red;}

.locker-num {text-align: center;}

.no-rental{ text-align: center; font-size: 24px;}


//admin locker index
#admin-locker-index{
  width: 90%; padding: 40px 5%;

  .admin-locker{
    width: 100%; padding: 25px 10px; border: 1px solid black; margin: 10px auto;
    border-radius: 4px; display: block; background-color: rgba(0,153,0, .5);
    .locker-title {font-weight: bold; font-size: 18px; line-height: 28px;}
    .locker-data {display: block; line-height: 22px;}
    .title {font-weight: bold; width: 130px; display: inline-block;}
    .admin-locker-text {display: inline-block;}
    .admin-locker-links {
      display: inline; float: right;
      form{display: inline;}
      // input[type="submit"]
      .admin-button{ background-color: black; color: white; border: 1px solid black;
                     font-size: 14px; padding: 12px 8px; margin-left: 10px; text-decoration: none;}
    }
    &.occupied{
      background-color:rgba(255,0,0, .5);
    }
  }
}
//admin locker show

#admin-locker-show{
  padding: 40px 5%;
  .rental-line{
    border-bottom: 1px solid black;
    .title{ font-weight: bold; width: 90px; display: inline-block; }
  }
}
