@font-face {font-family: 'AkzidenzGroteskPro-Bold';
            src: font-url('AkzidenzGroteskPro-Bold.otf') format('opentype');;
            }


p,h1,h2,h3,span, a, div, input {font-family: "AkzidenzGroteskPro-Bold"; color: white;}
input {color: black;}
body {
  margin: 0;
}
#container{
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

#button-container {
  position: absolute; bottom: 0; height: deuces-units(2); width: 100%;
  .btn {
    position: absolute; height: deuces-units(1); width: deuces-units(1);
    background-color: $gray; color: white; text-decoration: none;
    text-align: center; line-height: deuces-units(1); border: none;

    &.left     { left: deuces-units(1);}
    &.right    { left: deuces-units(7);}
    &.center   { left: deuces-units(4);}

    &.small    { width: deuces-units(1);}
    &.large    { width: deuces-units(3); font-size: 30px;}

    &.green    { background-color: $lime-green;}
  }
  .chase-logo{
    width: deuces-units(1.8); margin: 10px auto 0; position: absolute;
    right: 12px; bottom: 30px;
  }
}

#inner-container{
  position: absolute; height: deuces-units(3); width: 100%;
  bottom: deuces-units(2);

  .text-input{
    text-align: center; font-size: 30px; text-transform: uppercase;
    width: deuces-units(5); height: deuces-units(.5);
    position: absolute; left:  deuces-units(3);

    &.line-2{ top: 0; }
    &.line-3{ top: deuces-units(1); }
    &.line-4{ top: deuces-units(2); }


    &.checkbox-container{
      input { float: left;}
      p { margin: 0; font-size: 10px; text-align: left;}
    }
  }

  .hidden-submit { display: none; }

  .text-box{
    width: deuces-units(5); height: deuces-units(2);
    text-align: center; font-size: 26px;
    margin: 0 auto;
    p { padding-top: 52px; display: block; margin: 0;}

    &.short { height: deuces-units(.5);}

    &.long { width: deuces-units(7);}
    &.small { width: deuces-units(3);}

    &.green { background-color: $lime-green;}
    &.orange { background-color: $orange;}
    &.red { background-color: $orange;}
    &.blue { background-color: $blue;}
    &.gray { background-color: $gray;}

    &.multi-line{
      p { padding-top: 22px;}
    }

  }

  #all-full{
    width: deuces-units(5); height: deuces-units(2);
    text-align: center; font-size: 26px;
    margin: 0 auto; background-color: $orange;
    p { padding-top: 52px; display: block; margin: 0;}
  }

  .btn{
    position: absolute; height: deuces-units(.5); width: deuces-units(3);
    background-color: white; color: $blue; text-decoration: none;
    text-align: center; line-height: deuces-units(.5); border: none;
    top: deuces-units(1); left: deuces-units(4);

    &.bottom {top: deuces-units(2);}
  }
}

.logo {
  width: 47%; margin: 10% auto 0 auto; display: block;
  &.smaller { width: 28%; margin-top: 6%;}
  &.smallest { width: 25%; margin-top: 4%;}
}

#compliments{
  width: deuces-units(5); margin: -10px auto 0 auto;
  p {margin: 0 0 0 60px; font-size: 12px;}
  .chase-logo{
    width: deuces-units(3); margin: 10px auto 0; display: block;
  }
}



.form-errors { text-align: center; width: 80%; margin: 0 auto; color: $orange;}


#admin-top{
  height: 200px; width: 90%; position: fixed; background-color: #0079C1;
  top: 0; padding: 30px 5% 0 5%;

  .admin-title      { margin: 0 0 20px 0;}
  .admin-nav-button { position: absolute; top: 30px; right: 5%;}
}
#admin-container{
  margin-top: 200px; width: 90%;  padding: 40px 5%;
}

.admin-button{
  background-color: #00456E; color: white;
  font-size: 14px; padding: 12px 8px; margin-left: 10px; text-decoration: none;
}

//admin locker index
#admin-locker-index{

  .admin-locker{
    width: 100%; padding: 25px 10px; border: 1px solid black; margin: 10px auto;
    border-radius: 4px; display: block; background-color: rgba(0,153,0, .5);
    .locker-title {font-weight: bold; font-size: 24px; line-height: 28px;}
    .rental-data {display: block; line-height: 22px;}
    .title {font-weight: bold; width: 230px; display: inline-block;}
    .admin-locker-text {display: inline-block;}
    .admin-locker-links { display: inline; float: right;}
    &.occupied{
      background-color:rgba(255,0,0, .5);
    }
  }
}
//admin locker show

#admin-locker-show{
  .rental-line{
    border-bottom: 1px solid black;
    .title{ font-weight: bold; width: 90px; display: inline-block; }
    &.current {border-bottom: none;}
  }
}
