p,h1,h2,h3,span, a, div {font-family: 'Roboto', sans-serif;}

body {
  margin: 0;
}
.splash-logo {
  width: 50%; margin: 0 auto; display: block;
}

.hub-link {color: black; text-decoration: none; width: 80%;
           padding: 15px 10px; display: block; border: 2px solid black;
          margin: 20px auto; text-align: center; font-size: 24px;}

.button{
  font-size: 24px; display: block; width: 80%; border: 1px solid black; margin: 20px auto;
  text-align: center; padding: 10px 0; background-color: white; text-decoration: none; color: black;
  &.submit {color: white; background-color: black;}
}

.thanks-message { text-align: center; width: 80%; margin: 20px auto;}

.form-errors { text-align: center; width: 80%; margin: 20px auto; color: red;}

.locker-num {text-align: center;}

.no-rental{ text-align: center; font-size: 24px;}


//admin locker index
#admin-locker-index{
  width: 90%; padding: 40px 5%;

  .admin-locker{
    width: 100%; padding: 25px 10px; border: 1px solid black; margin: 10px auto;
    border-radius: 4px; display: block; background-color: rgba(0,153,0, .5);
    .locker-title {font-weight: bold; font-size: 18px; line-height: 28px;}
    .locker-data {display: block; line-height: 22px;}
    .title {font-weight: bold; width: 130px; display: inline-block;}
    .admin-locker-text {display: inline-block;}
    .admin-locker-links {
      display: inline; float: right;
      form{display: inline;}
      // input[type="submit"]
      .admin-button{ background-color: black; color: white; border: 1px solid black;
                     font-size: 14px; padding: 12px 8px; margin-left: 10px; text-decoration: none;}
    }
    &.occupied{
      background-color:rgba(255,0,0, .5);
    }
  }
}
//admin locker show

#admin-locker-show{
  padding: 40px 5%;
  .rental-line{
    border-bottom: 1px solid black;
    .title{ font-weight: bold; width: 90px; display: inline-block; }
  }
}
